.right {
  display: flex;
  padding-left: 26px;
  margin-top: -32px;
  p {
    line-height: 32px;
    margin-right: 10px;
    margin-bottom: 0;
  }
  input {
    height: 32px;
  }

  :global {
    .ant-input {
      border-color: #f0f1f4;
    }
    .ant-input:hover {
      border-color: #8981cc;
    }
    .ant-input:focus {
      border-color: #8981cc !important;
    }
  }
}
