.wrapper {
  height: 458px;
  background: #ffffff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  margin: 16px 0;
}
section {
  height: calc(100% - 60px);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
  border-bottom: 1px solid #eaedf7;
  height: 60px;
}
h3 {
  width: 240px;
  height: 32px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  font-size: 16px;
  color: #242f57;
  letter-spacing: 0;
  line-height: 32px;
}

.filter_wrapper {
  display: flex;
  align-items: center;
}

:global(.filter_wrapper .ant-picker .ant-picker-range) {
  height: 36px;
  border: 1px solid #d2d5e1;
  border-radius: 4px;
}

.radioParam {
  margin-left: 16px;
}
