.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  height: 67px;
  background: rgba(242, 241, 254, 0.27);
  border: 1.2px solid #e6ecff;
}

.left {
  display: flex;
  align-items: center;
  margin: 0 12px;
  img {
    height: 18px;
    width: 19px;
    margin-right: 7px;
  }
  p {
    margin-bottom: 0;
  }
}

.right {
  height: 32px;
  flex: 1;
}
