.wrapper {
  padding: 19px 14px 19px 18px;
}

.each_comp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14px 0 20px;
  height: 56.4px;
  background: rgba(191, 183, 248, 0.12);
  border: 1.2px solid rgba(157, 150, 213, 0.03);
  box-shadow: 0 5px 10px 0 rgba(191, 183, 248, 0.35);
  border-radius: 4.8px;
  color: #847bca;
  font-family: PingFangSC-Medium;

  img {
    width: 19px;
    height: 18px;
  }
  p {
    margin-bottom: 0;
  }
}

.TextArea {
  background: rgba(255, 183, 154, 0.2);
  color: #d19980;
}

.RichList {
  background: rgba(185, 235, 165, 0.18);
  color: #56b277;
}
