.content {
  background: #ffffff;
  border-radius: 4px;
  height: 262px;
  padding: 24px 20px;
}
.content ul {
  display: flex;
  justify-content: space-around;
}

.content ul li {
  display: flex;
  margin-bottom: 16px;
  flex-direction: column;
  align-items: center;
  width: 262px;
  height: 214px;
  position: relative;
  cursor: pointer;
}

.content ul li p {
  height: 20px;
  font-weight: 500;
  font-size: 14px;
  color: #242f57;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
  margin-top: 12px;
  position: relative;
  z-index: 10;
  max-width: 240px;
}

.progress {
  position: relative;
  z-index: 10;
  margin-top: 16px;
}

.progress .circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: radial-gradient(
    50% 100%,
    rgba(4, 138, 254, 0) 18%,
    rgba(96, 181, 255, 0.3) 83%
  );
  position: absolute;
  left: 10px;
  top: 10px;
}

.position {
  position: absolute;
  left: 10px;
  top: 20px;
  width: 8px;
  height: 8px;
  background-image: radial-gradient(50% 100%, #80b6ff 14%, #2983f9 100%);
  border: 1px solid #ffffff;
  border-radius: 50%;
  z-index: 10;
}

.circle_right,
.circle_left {
  width: 130px;
  height: 130px;
  position: absolute;
}

.circle_left {
  clip: rect(0, 65px, auto, 0);
}
.left {
  border-radius: 50%;
  clip: rect(0, 65px, auto, 0);
  background: #f6f7fb;
  width: 130px;
  height: 130px;
  position: absolute;
}

.circle_right {
  clip: rect(0, auto, auto, 65px);
}
.right {
  clip: rect(0, auto, auto, 65px);
  border-radius: 50%;
  background: #f6f7fb;
  width: 130px;
  height: 130px;
  position: absolute;
}

.progress_content {
  position: absolute;
  left: 26px;
  top: 26px;
  width: 78px;
  height: 78px;
  background: #ffffff;
  border: 1px solid #eef6ff;
  border-radius: 50%;
  box-shadow: 0 0 9px 10px rgba(173, 210, 239, 0.3), 0 0 9px 0 #add2ef;
}
.progress_count {
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 32px);
  width: 66px;
  text-align: center;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  font-size: 12px;
  color: rgba(31, 38, 49, 0.5);
  letter-spacing: 0;
}
.progress_num {
  font-family: DINAlternate-Bold;
  font-weight: 700;
  font-size: 28px;
  color: #242f57;
  margin-right: 2px;
  line-height: 1;
}

.selected {
  background: rgba(0, 82, 217, 0.06);
}
