.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
}

.label {
  display: flex;
  height: 32px;
  line-height: 18px;
  align-items: center;
  img {
    height: 18px;
    width: 18px;
    margin-right: 12px;
  }
  p {
    margin-bottom: 0;
  }
}

.content {
  flex: 1;
}
