.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  // height: 222px;
  padding: 12px;
  background: #fffbf7;
  border: 1px solid rgba(209, 153, 128, 0.1);
}

.left {
  display: flex;
  height: 18px;
  line-height: 18px;
  align-items: center;
  margin-bottom: 12px;
  img {
    height: 18px;
    width: 19px;
    margin-right: 7px;
  }
  p {
    margin-bottom: 0;
  }
}

.right {
  flex: 1;
}
