.inputTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .inputTitleRight {
    display: flex;

    .titleFont {
      font-family: PingFangSC-Medium;
      font-weight: 500;
      font-size: 14px;
      color: #1f2631;
      margin-left: 10px;
    }

    .inbox {
      height: 14px;
      margin-right: 10px;
      cursor: pointer;
    }

    img {
      width: 25px;
      height: 23px;
    }
  }

  .inputTitle1 {
    cursor: pointer;
  }
}

.no_data {
  .each_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 15px 0;
    height: 40px;
    background: #ffffff;
    box-shadow: -8px -8px 20px 0 rgba(255, 255, 255, 0.5),
      8px 8px 20px 0 rgba(55, 99, 170, 0.1);
    border-radius: 6px;
    min-width: 280px;
  }

  img {
    width: 100%;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    color: #242f57;
    line-height: 22px;
    text-align: center;
  }
}
