.title1 {
  font-weight: 600;
}
.center_title1 {
  font-size: 20px;
}

.eachRow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 4px;
}

.center_eachRow1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 20px;
}

.seriesName1 {
  margin-left: 12px;
}

.center_seriesName1 {
  margin-left: 6px;
}

.line1 {
  height: 10px;
  width: 10px;
  margin-right: 4px;
  display: inline-block;
  position: relative;
}

.line1::after {
  display: block;
  content: "";
  height: 3px;
  width: 100%;
  background: #3a80d5;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
