@vwSize: 0.63vw;
@scaleSize: var(--scaleSize, 1);
.chart2_wrap {
  height: 100%;
  padding-top: 40px;
  width: 100%;
  background: linear-gradient(0deg, #052744, transparent 65%);

  .top_box {
    // height: 47px;
    height: 22%;
    padding: 0 20px 0 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .each_row {
      display: flex;
      align-items: center;

      & > div:nth-child(1) {
        // font-size: 14px;
        font-size: calc(@scaleSize * @vwSize);
        color: #ffffff;
      }

      & > div:nth-child(2) {
        font-family: dsDig;
        // font-size: 20px;
        font-size: calc(@scaleSize * 0.97vw);
        color: #00fcf9;
      }
    }
  }
}
