.stageDash {
  background-color: #f0f2f5;
}

.carouselComp_wrapper {
  background-color: white;
  margin-bottom: 12px;
}

.progress_wrapper {
  background-color: white;
}

.titleParts_wrapper {
  background-color: #fff;
  height: 88px;
  background-image: url(./imgs/titleBg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 100% 0;
  border-bottom: 1px solid hsla(210, 7%, 53%, 0.16);
}

.viewfilterWrap {
  border-bottom: 1px solid rgba(126, 134, 142, 0.16);
}

.setChangeWrap {
  min-height: 225px;
  max-height: 750px;
  overflow: auto;
}

.statusTipWrap {
  height: 225px;
}
