.inputTitle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .inputTitleRight {
    display: flex;

    .titleFont {
      font-family: PingFangSC-Medium;
      font-weight: 500;
      font-size: 14px;
      color: #1f2631;
      margin-left: 10px;
    }

    .inbox {
      height: 14px;
      margin-right: 10px;
      cursor: pointer;
    }

    img {
      width: 25px;
      height: 23px;
    }
  }

  .inputTitle1 {
    cursor: pointer;
  }
}

.no_data {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  img {
    width: 100%;
    margin-bottom: 16px;
  }

  p {
    font-size: 16px;
    color: #242f57;
    line-height: 22px;
    text-align: center;
  }
}
