.revision {
  display: flex;
  background: #f4f7fd;
  height: 100%;
}

.list_item {
  cursor: pointer;
}

.center {
  border-radius: 5px;
  background: #f4f7fd;
  margin: 0 10px;
  flex: 1;
}

.preview {
  width: 800px;
  overflow-y: scroll;
}
