.wrapper {
  height: 100%;
  & > header {
    display: flex;
    justify-content: space-between;
    height: 58px;
    line-height: 58px;
    background: #ffffff;
    box-shadow: 5px 5px 10px 0 rgba(242, 251, 239, 0.1);
    border-radius: 4.8px;
    margin-bottom: 8px;
    padding: 0 16px;
    font-family: PingFangSC-SNaNpxibold;
    font-size: 18px;
    color: #242f57;
    position: relative;
    .wrapperTitle {
      // width: calc(100% - 30px);
      // position: absolute;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    img {
      cursor: pointer;
    }
  }
  & > section {
    height: calc(100% - 66px);
    background: white;
    padding: 20px 16px;
    overflow: auto;
  }
}

.main_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:global {
  .modalList {
    min-height: 100%;
    margin-right: -8px;
    padding-bottom: 24px;
    .ant-input {
      border-radius: 4px;
    }
    // .ant-input:focus {
    // border: 1px solid rgba(137, 129, 204, 0.83) !important;
    // }
  }
  .dragList {
    margin: 7px 0 20px 0;
    width: calc(100% - 7px);
    &:last-child {
      margin: 7px 0 0 0;
    }
  }
}

.content {
  min-height: 300px;
  margin-right: 200px;
}

.item {
  // display: flex;
  user-select: none;
  margin: 0 0 0.5rem 0;
  align-items: flex-start;
  align-content: flex-start;
  line-height: 1.5;
  border-radius: 3px;
  background: #fff;
}

.handle {
  display: flex;
  align-items: center;
  align-content: center;
  user-select: none;
  margin: -0.5rem 0.5rem -0.5rem -0.5rem;
  padding: 0.5rem;
  line-height: 1.5;
  border-radius: 3px 0 0 3px;
  background: #fff;
  border-right: 1px solid #ddd;
  color: #000;
}

.kiosk {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 200px;

  border: 1px solid #ddd;
  background: #fff;
  padding: 0.5rem 0.5rem 0;
  border-radius: 3px;
  flex: 0 0 150px;
  font-family: sans-serif;
}

.container {
  // min-height: 300px;
  min-height: 100%;
  height: auto;
  // border: 1px solid #ddd;
  background: #fff;
  // padding: 0.5rem 0.5rem 0;
  border-radius: 3px;
  flex: 0 0 150px;
  font-family: sans-serif;

  // margin: 0.5rem 0.5rem 1.5rem;
  // background: #ccc;
}

.notice {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  padding: 0.5rem;
  margin: 0 0.5rem 0.5rem;
  border: 1px solid transparent;
  line-height: 1.5;
  color: #aaa;
}

:global {
  .instruction_explaination {
    .ant-modal {
      width: 940px !important;
      height: 640px;
    }
    .ant-modal-title {
      font-size: 20px;
      font-weight: 600;
    }
  }
}
.instruction_wrapper {
  font-size: 18px;
  div:not(:nth-child(1)) {
    margin: 18px 0;
  }
}
