:global(.p) {
  stroke: #f40;
  stroke-width: 20;
  stroke-dasharray: var(--l);
  stroke-dashoffset: var(--l);
  stroke-linecap: round;
  fill: none;
  animation: stroke 2s forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
}
